#page-document.pessoa-view {
  @include default-container-width();
  .documentImage {
    max-width: 200px !important;
    border-radius: 50%;
  }
  .documentDescription {
    @include narrow-container-width();
  }
}
